@charset "utf-8";
/* CSS Document */

.body {
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #DD4346;
	border-radius: 5px;
}
.bh {
}
.bg {
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	background-color: #ED81DA;
	border-radius: 10px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	width: 250px;
	height: 300px;
	position: absolute;
	margin-left: auto;
	left: 50%;
	transform: translate(-50%,20%);
	top: 50%;
}
.couple {
}
.couplehead {
	text-align: center;
	text-transform: capitalize;
	font-family: euphoria-script;
	font-style: normal;
	font-weight: 400;
	font-size: x-large;
}
.imggrid {
	display: inline-block;
	width: 30%;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
}
.table {
	text-align: center;
}
.time {
	text-align: center;
	font-family: cookie;
	font-style: normal;
	font-weight: 400;
	font-size: x-large;
	text-decoration: none;
}
.timegrid {
	display: inline-block;
	border-style: groove;
	border-radius: 10px;
	background-color: #FFFFFF;
	width: 21%;
}
.timetable {
	text-align: center;
}
.imgstyle {
	border-radius: 20%;
}
.num {
	font-size: xx-large;
	border-bottom-style: dashed;
	color: #CE0003;
	border-bottom-color: #000000;

}
.bodystyle {
	position: relative;

}
